*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
  }

  @mixin btn-reg{
    padding: 15px 15px;
    border-radius: 10px;
    color:$body-text;
    font-weight: normal;
    font-size: 0.9rem;
    border:none;
  }

  @mixin wallet-head{
    border-radius: 20px;
    margin-bottom: 40px;
  }

  @mixin btn-head{
    padding: 18px 20px;
    border-radius: 20px;
    border:none;
    font-size: 16px;
    margin-bottom: 15px;

  }

  @mixin inner{
    width:90%;
    margin:0 auto;
    padding:20px 0;
  }

  @mixin case-inner{
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 25px 10px;
    font-size: 1.1rem;
    h4{
        margin-bottom: 15px;
    }
  }

  @mixin media-md{
    @media screen and (min-width: 720px) {
      @content;
    }
  }

  @mixin media-lg{
    @media screen and (min-width: 1024px){
      @content;
    }
  }

  @mixin media-xl{
    @media screen and (min-width: 1600px){
      @content;
    }
  }